{% extends 'backend/layout.html.twig' %}

{% set iamhere = 'admin.index' %}


{% block subcontent %}

    <div class="hero-unit">
        <h1>{{ _('Administrative backend') }}</h1>
        <p>{{ _('Select left option to administrate it') }}</p>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h2>{{ _('Answer pending contacts') }}</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus.
                Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus.
                Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p><a class="btn" href="#">{{ _('View details') }} &raquo;</a></p>
        </div><!--/span-->
        <div class="span6">
            <h2>{{ _('Latest votes') }}</h2>
            <p>
                Donec id elit non mi porta gravida at eget metus.
                Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh, ut fermentum massa justo sit amet risus.
                Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
            <p><a class="btn" href="#">{{ _('View details') }} &raquo;</a></p>
        </div><!--/span-->
    </div><!--/row-->

{% endblock %}
