{% extends 'backend/layout.html.twig' %}

{% set iamhere = 'admin.' ~ action ~ '-' ~ entity %}

{% block subcontent %}

    <div class="row-fluid">
        <div class="span12">
            <form action="#" class="form-horizontal" method="POST">
                <legend>{{ action ~ ' ' ~ entityName }}</legend>
                {% for form_element in form %}
                    {% if form_element.field != 'id' or action == 'edit' %}
                    <div class="control-group">
                        {{ form_widget(form_element,item,errors) }}
                    </div>
                    {% endif %}
                {% endfor %}
                {% if relations|length > 0  %}
                    {% for relation in relations %}
                        <div class="control-group">
                            {{ relation.name }}
                        </div>
                        <h1>prueba</h1>
                        {%
                            include ['caca','backend/entity/embeded-list.html.twig']
                            with
                                {
                                    'entity': relation.entity,
                                    'items' : relation.data,
                                    'form'  : relation.form
                                }
                        %}
                    {% endfor %}
                {% endif %}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">
                            <i class="icon-left icon-ok-sign"></i>
                            {{ _('Save') }}
                        </button>
                        <button type="reset" class="btn">
                            <i class="icon-left icon-fast-backward"></i>
                            {{ _('Reset') }}
                        </button>
                        <a href="{{ urlFor('admin.list-entity',{'entity':entity}) }}" class="btn">
                            <i class="icon-left icon-list"></i>
                            {{ _('Return') }}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock subcontent %}
