{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('backend/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('backend/css/bootstrap-responsive.min.css')  }}" />
    <style>

        /* GLOBAL STYLES
        -------------------------------------------------- */
        /* Padding below the footer and lighter body text */

    body {
        padding-bottom: 40px;
        color: #5a5a5a;
    }

        /* CUSTOMIZE THE NAVBAR
        -------------------------------------------------- */

        /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        margin-top: 20px;
        margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

        /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
        border: 0;
        -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
        -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
        box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

        /* Downsize the brand/project name a bit */
    .navbar .brand {
        padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
        font-size: 16px;
        font-weight: bold;
        text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

        /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
        padding: 15px 20px;
    }

        /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
        margin-top: 10px;
    }

        /* CUSTOMIZE THE CAROUSEL
        -------------------------------------------------- */

        /* Carousel base class */
    .carousel {
        margin-bottom: 60px;
    }

    .carousel .container {
        position: relative;
        z-index: 9;
    }

    .carousel-control {
        height: 80px;
        margin-top: 0;
        font-size: 120px;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
        background-color: transparent;
        border: 0;
        z-index: 10;
    }

    .carousel .item {
        height: 500px;
    }
    .carousel img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 500px;
    }

    .carousel-caption {
        background-color: transparent;
        position: static;
        max-width: 550px;
        padding: 0 20px;
        margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
        margin: 0;
        line-height: 1.25;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
        margin-top: 10px;
    }



        /* MARKETING CONTENT
        -------------------------------------------------- */

        /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
        text-align: center;
    }
    .marketing h2 {
        font-weight: normal;
    }
    .marketing .span4 p {
        margin-left: 10px;
        margin-right: 10px;
    }


        /* Featurettes
        ------------------------- */

    .featurette-divider {
        margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
        padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
        overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
        margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

        /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
        margin-right: 40px;
    }
    .featurette-image.pull-right {
        margin-left: 40px;
    }

        /* Thin out the marketing headings */
    .featurette-heading {
        font-size: 50px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: -1px;
    }



        /* RESPONSIVE CSS
        -------------------------------------------------- */

    @media (max-width: 979px) {

        .container.navbar-wrapper {
            margin-bottom: 0;
            width: auto;
        }
        .navbar-inner {
            border-radius: 0;
            margin: -20px 0;
        }

        .carousel .item {
            height: 500px;
        }
        .carousel img {
            width: auto;
            height: 500px;
        }

        .featurette {
            height: auto;
            padding: 0;
        }
        .featurette-image.pull-left,
        .featurette-image.pull-right {
            display: block;
            float: none;
            max-width: 40%;
            margin: 0 auto 20px;
        }
    }


    @media (max-width: 767px) {

        .navbar-inner {
            margin: -20px;
        }

        .carousel {
            margin-left: -20px;
            margin-right: -20px;
        }
        .carousel .container {

        }
        .carousel .item {
            height: 300px;
        }
        .carousel img {
            height: 300px;
        }
        .carousel-caption {
            width: 65%;
            padding: 0 70px;
            margin-top: 100px;
        }
        .carousel-caption h1 {
            font-size: 30px;
        }
        .carousel-caption .lead,
        .carousel-caption .btn {
            font-size: 18px;
        }

        .marketing .span4 + .span4 {
            margin-top: 40px;
        }

        .featurette-heading {
            font-size: 30px;
        }
        .featurette .lead {
            font-size: 18px;
            line-height: 1.5;
        }

    }
    </style>

    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>

    <style type="text/css">

        h1{
            color: #678;
            font-size: 4.5em;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        #header p{
            font-size: 2em;
        }
        #menu.grid_2{
            border: 1px solid black;
            background-color: #0aa !important;
        }
        #menu a{
            font-size: 1.2em;
            text-decoration: none;
            font-weight: bold;
            color: #ab4272;
        }
        #menu a:visited{
            color: #ab4272;
        }
        .clear2{
            min-height: 5px;
            min-width: 960px;
            background-color: #ddd;
        }

        #content{
            min-height: 414px;
            margin-top: 95px;
        }

        #subcontent{
            min-height: 400px;
            border: 1px solid #ddd;
        }

        .h20{
            min-heigth: 20px;
        }
        #footer ul{
            list-style: none;
            margin: 0;
        }
        #footer a{
            text-decoration: none;
            color: #ab4272;
        }
        #footer a:visited{
            color: #ab4272;
        }
    </style>
{% endblock stylesheets %}

{% block header %}
    {% block navbar_layout %}
        <!-- NAVBAR
        ================================================== -->
        <div class="navbar-wrapper">
            <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
            <div class="container">

                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand" href="{{ urlFor('home.index') }}">My simple web</a>
                        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="active">
                                    <a href="{{ urlFor('admin.index') }}">
                                        {{ _('Backend') }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ urlFor('home.staticpage', {'slug':'about'}) }}">
                                        {{ _('About us') }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ urlFor('articles.index') }}">
                                        {{ _('My articles') }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ urlFor('contact.index') }}">
                                        {{ _('Contact') }}
                                    </a>
                                </li>
                                <li class="btn-group">
                                    {% set lang = session('lang') %}
                                    <a class="btn btn-small btn-primary dropdown-toggle"
                                       data-toggle="dropdown"
                                       href="#">
                                        {{ _('Language') ~ ': ' ~ lang }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for code,language in langConfig() %}
                                            <li {{ lang == code ? 'class="active"' : '' }}>
                                                <a href="{{ urlActual({ 'lang':code }) }}">
                                                    {{ language|raw }}
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!-- /.navbar-inner -->
                </div><!-- /.navbar -->

            </div> <!-- /.container -->
        </div><!-- /.navbar-wrapper -->
    {% endblock navbar_layout %}
{% endblock header %}


{% block content %}
    <div id="content" class="container-fluid">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    {% block subcontent %}{% endblock %}
                </div>
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/row-->
{% endblock content %}



{% block footer %}
    <footer>
        <p class="pull-left">
            <a href="{{ urlFor('home.index') }}">
                <img src="{{ asset('custom/frontend/img/logo.png') }}"
                     alt="logo" width="90">
                {{ _('Home') }}
            </a>
        </p>
        <p class="pull-right">
            {{ _('Developed by') }}:&nbsp;
            <a href="{{ config('web.developer.url') }}">
                {{ config('web.developer') }}
            </a>
             &middot;
            <a href="{{ urlFor('home.staticpage',{'slug':'privacy-policy'}) }}">
                {{ _('Privacy policy') }}
            </a>
             &middot;
            {{ _('Contact') }}: <strong>{{ config('web.email.contact') }}</strong>
        </p>
        <p>
        {% block subfooter %}{% endblock subfooter %}
        </p>
    </footer>
{% endblock footer %}


{% block javascripts %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ asset('common/js/jquery-1.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('backend/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript">
        $('select[name="lang"]').change(function(e){
            //console.log('Entering in language change');
            e.preventDefault();
            var href = $('select[name="lang"] :selected').attr('href');
            //console.log(href);
            window.location = href /*+ '?cache={{ ''|date('U') }}'*/;
        });
        !function ($) {
            $(function(){
                // carousel demo
                $('#myCarousel').carousel()
            })
        }(window.jQuery)
    </script>
{% endblock javascripts %}