{% set theme = 'hubble' %}

{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% if theme == 'bootstrap' %}
        <link rel="stylesheet" href="{{ asset('backend/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('backend/css/bootstrap-responsive.min.css')  }}" />
        <link rel="stylesheet" href="{{ asset('backend/css/custom.css')  }}" />

    {% endif %}

    {% if theme == 'hubble' %}
        <link rel="stylesheet" href="{{ asset('hubble/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('hubble/css/responsive.css')  }}" />
        <link rel="stylesheet" href="{{ asset('hubble/css/animate.css')  }}" />
        <link rel="stylesheet" href="{{ asset('hubble/css/custom.css')  }}" />

        <script src="{{ asset('hubble/js/jquery.queryloader2.js') }}" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
            $("body").queryLoader2({
                barColor: "#00BFFF",
                backgroundColor: "#000",
                percentage: true,
                barHeight: 260,
                completeAnimation: "fade"
            });
        </script>
    {% endif %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
        .nav li.current > a{
            color: pink;
            font-weight: bolder;
        }
    </style>
{% endblock stylesheets %}

{% block header %}
    {% block navbar_layout %}

        <div class="navbar  animated fadeIn navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ urlFor('home.index') }}">
                        <img src="{{ asset('custom/frontend/img/msw.png') }}"
                             alt="mysimpleweb" style="height:58px !important"/>
                    </a>
                    <div class="nav-collapse in" style="height:auto;">
                        <ul class="nav">
                            <li class="current">
                                <a href="{{ urlFor('admin.index') }}">
                                    {{ _('Backend') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ urlFor('home.staticpage', {'slug':'about'}) }}">
                                    {{ _('About us') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ urlFor('articles.index') }}">
                                    {{ _('My articles') }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ urlFor('contact.index') }}">
                                    {{ _('Contact') }}
                                </a>
                            </li>
                            <li class="btn-group">
                                {% set lang = session('lang') %}
                                <a class="dropdown-toggle"
                                   data-toggle="dropdown"
                                   href="#">
                                    {{ _('Language') ~ ': ' ~ lang }}
                                    {#<span class="caret"></span>#}
                                </a>
                                <ul class="dropdown-menu">
                                    {% for code,language in langConfig() %}
                                        <li {{ lang == code ? 'class="active"' : '' }}>
                                            <a href="{{ urlActual({ 'lang':code }) }}">
                                                {{ language|raw }}
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        {#

        <!-- NAVBAR
        ================================================== -->
        <div class="navbar-wrapper">
            <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
            <div class="container">

                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
                        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand" href="">My simple web</a>
                        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
                        <div class="nav-collapse collapse">
                            <ul class="nav">
                                <li class="active">
                                    <a href="{{ urlFor('admin.index') }}">
                                        {{ _('Backend') }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ urlFor('home.staticpage', {'slug':'about'}) }}">
                                        {{ _('About us') }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ urlFor('articles.index') }}">
                                        {{ _('My articles') }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ urlFor('contact.index') }}">
                                        {{ _('Contact') }}
                                    </a>
                                </li>
                                <li class="btn-group">
                                    {% set lang = session('lang') %}
                                    <a class="btn btn-small btn-primary dropdown-toggle"
                                       data-toggle="dropdown"
                                       href="#">
                                        {{ _('Language') ~ ': ' ~ lang }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for code,language in langConfig() %}
                                            <li {{ lang == code ? 'class="active"' : '' }}>
                                                <a href="{{ urlActual({ 'lang':code }) }}">
                                                    {{ language|raw }}
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!-- /.navbar-inner -->
                </div><!-- /.navbar -->

            </div> <!-- /.container -->
        </div><!-- /.navbar-wrapper -->

        #}
    {% endblock navbar_layout %}
{% endblock header %}


{% block content %}
    <div id="content" class="container-fluid">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    {% block subcontent %}{% endblock %}
                </div>
            </div><!--/span-->
        </div><!--/row-->
    </div><!--/row-->
{% endblock content %}



{% block footer %}
    <footer>
        <p class="pull-left">
            <a href="{{ urlFor('home.index') }}">
                <img src="{{ asset('custom/frontend/img/logo.png') }}"
                     alt="logo" width="90">
                {{ _('Home') }}
            </a>
        </p>
        <p class="pull-right">
            {{ _('Developed by') }}:&nbsp;
            <a href="{{ config('web.developer.url') }}">
                {{ config('web.developer') }}
            </a>
             &middot;
            <a href="{{ urlFor('home.staticpage',{'slug':'privacy-policy'}) }}">
                {{ _('Privacy policy') }}
            </a>
             &middot;
            {{ _('Contact') }}: <strong>{{ config('web.email.contact') }}</strong>
        </p>
        <p>
        {% block subfooter %}{% endblock subfooter %}
        </p>
    </footer>
{% endblock footer %}


{% block javascripts %}

    <script type="text/javascript" src="{{ asset('common/js/jquery-1.8.3.min.js') }}"></script>

    {% if theme == 'bootstrap' %}
        <script type="text/javascript" src="{{ asset('backend/js/bootstrap.min.js') }}"></script>
    {% endif %}

    {% if theme == 'hubble' %}
        <script type="text/javascript" src="{{ asset('hubble/js/bootstrap-transition.js') }}"></script>
        <script type="text/javascript" src="{{ asset('hubble/js/bootstrap-alert.js') }}"></script>
        <script type="text/javascript" src="{{ asset('hubble/js/bootstrap-modal.js') }}"></script>
        <script type="text/javascript" src="{{ asset('hubble/js/bootstrap-dropdown.js') }}"></script>
        <script type="text/javascript" src="{{ asset('hubble/js/bootstrap-scrollspy.js') }}"></script>
        <script type="text/javascript" src="{{ asset('hubble/js/bootstrap-tab.js') }}"></script>
        <script type="text/javascript" src="{{ asset('hubble/js/bootstrap-tooltip.js') }}"></script>
        <script type="text/javascript" src="{{ asset('hubble/js/bootstrap-popover.js') }}"></script>
        <script type="text/javascript" src="{{ asset('hubble/js/bootstrap-button.js') }}"></script>
        <script type="text/javascript" src="{{ asset('hubble/js/bootstrap-collapse.js') }}"></script>
        <script type="text/javascript" src="{{ asset('hubble/js/bootstrap-carousel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('hubble/js/bootstrap-typeahead.js') }}"></script>
        <script type="text/javascript" src="{{ asset('hubble/js/anchor.js') }}"></script>
        <script type="text/javascript" src="{{ asset('hubble/js/twitter.js') }}"></script>
    {% endif %}

    <script type="text/javascript">
        $('select[name="lang"]').change(function(e){
            //console.log('Entering in language change');
            e.preventDefault();
            var href = $('select[name="lang"] :selected').attr('href');
            //console.log(href);
            window.location = href /*+ '?cache={{ ''|date('U') }}'*/;
        });
        !function ($) {
            $(function(){
                // carousel demo
                $('.carousel').carousel()
            })
        }(window.jQuery)
    </script>
{% endblock javascripts %}