{% extends 'backend/layout.html.twig' %}

{% if accion == 'Añadir' %}
    {% set iamhere = 'admin.new-juego' %}
{% else %}
    {% set iamhere = '' %}
{% endif %}

{% block subcontent %}

    <div class="row-fluid">
        <div class="span12">

        {% if juego is defined and juego is not null %}

            <form action="#" class="form-horizontal" method="POST">
                <legend>{{ accion }} juego</legend>
                <div class="control-group">
                    <label class="control-label span2" for="inputTitulo">Título:</label>
                    <div class="controls">
                        <input type="text" placeholder="Título" name="titulo"
                               class="span10" id="inputTitulo"
                               value="{{ juego.titulo }}">
                        {{ macro.form_error(errors.titulo) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label span2" for="inputSlug">Slug:</label>
                    <div class="controls">
                        <div class="input-prepend span10">
                            <button class="btn btn-primary" type="button">
                                <i class="icon-white icon-left icon-check"></i>
                                Chk
                            </button>
                            <input type="text" placeholder="Slug" name="slug"
                                   class="span8" id="inputSlug"
                                   value="{{ juego.slug }}">
                        </div>
                        {{ macro.form_error(errors.slug) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label span2" for="inputDescripcion">Descripción:</label>
                    <div class="controls">
                        <textarea class="span10" id="inputDescripcion"
                                name="descripcion">{{ juego.descripcion }}</textarea>
                        {{ macro.form_error(errors.descripcion) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label span2" for="inputVideo">Video:</label>
                    <div class="controls">
                        Sólo el atributo src de compartir de youtube: <br/>
                        <textarea class="span10" id="inputVideo"
                                  name="video">{{ juego.video }}</textarea>
                        {{ macro.form_error(errors.video) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label span2" for="inputEdad">Edad mínima:</label>
                    <div class="controls">
                        <input type="text" placeholder="edad mínima" name="edad"
                               class="span2" id="inputEdad"
                               value="{{ juego.edad }}">
                        {{ macro.form_error(errors.edad) }}
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label span2" for="inputDuracion">Duración (minutos):</label>
                    <div class="controls">
                        <input type="text" placeholder="duración minutos" name="duracion"
                               class="span2" id="inputDuracion"
                               value="{{ juego.duracion }}">
                        {{ macro.form_error(errors.duracion) }}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">
                            <i class="icon-left icon-ok-sign"></i>
                            Grabar
                        </button>
                        <button type="reset" class="btn">
                            <i class="icon-left icon-fast-backward"></i>
                            Reset
                        </button>
                        <a href="" class="btn">
                            <i class="icon-left icon-list"></i>
                            Volver
                        </a>
                    </div>
                </div>
            </form>
        {% else %}
            Juego no encontrado
        {% endif %}
        </div>
    </div>

{% endblock subcontent %}
